name: "[Test] Skip Destroy Terraform stacks"

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - .github/workflows/terraform-core.yml
      - .github/workflows/terraform-destroy.yml

jobs:
  destroy_tf_stacks_regression_test:
    name: Test using devops-terraform-example-project@main
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No build required" '
