name: "Test Build Container Image"
# Regression testing to try and catch and breaking changes

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/_test-container-image-build.yml
      - .github/workflows/container-image-build.yml
      - .github/workflows/container-image-release.yml

jobs:
  container_image_build_regression_test:
    name: Test using devops-terraform-ci@main
    uses: ./.github/workflows/container-image-build.yml
    with:
      repo: UKHSA-Internal/devops-terraform-ci
      ref: "main"
      release_after_build: false
    permissions:
      id-token: write
      contents: write
      actions: read