name: "[Test] Deploy Terraform stacks"
# Regression testing to try and catch and breaking changes

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/terraform-plan-apply.yml
      - .github/workflows/_test-terraform-plan-apply.yml

jobs:
  regression_test:
    name: Test using devops-terraform-example-project@main
    uses: ./.github/workflows/terraform-plan-apply.yml
    with:
      repo: UKHSA-Internal/devops-terraform-example-project
      ref: "main"
    permissions:
      packages: read
      contents: read
      security-events: write
      statuses: write
      checks: write
      id-token: write   
    secrets:
      SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
      AWS_ACCOUNT_ID: ${{ secrets.TEST_AWS_ACCOUNT_ID }}
      AWS_ROLE_NAME: ${{ secrets.TEST_AWS_ROLE_NAME }}