name: "Test Destroy Terraform stacks"
# Regression testing to try and catch and breaking changes. Will only run a destroy plan.

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/terraform-core.yml
      - .github/workflows/terraform-destroy.yml

jobs:
  destroy_tf_stacks_regression_test:
    name: Test using devops-terraform-example-project@main
    uses: ./.github/workflows/terraform-destroy.yml
    with:
      repo: UKHSA-Internal/devops-terraform-example-project
      ref: "main"
      execute_terraform_plan: false
    permissions:
      packages: read
      contents: read
      security-events: write
      statuses: write
      checks: write
      id-token: write
    secrets:
      REPO_SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
      AWS_ACCOUNT_ID: ${{ secrets.TEST_AWS_ACCOUNT_ID }}
      AWS_ROLE_NAME: ${{ secrets.TEST_AWS_ROLE_NAME }}
      TF_MODULES_SSH_DEPLOY_KEY: ${{ secrets.TF_MODULES_SSH_DEPLOY_KEY }}